.jumbotron {
  padding-top: 5rem;
  background-color: #28989c;
}

#projects {
  background-color: #28989c;
}

#contact {
  background-color: #28989c;
}

#footer {
  background-color: #28989c;
}

section {
  padding-top: 5rem;
}
